##  Enetity template;

package abc;


public class $entity{


	#set($char = "")
	#foreach( $item in $properties )
		#if( ${item.pramaryKey} == 1 ) 
		@Id
		#end
		
		@Column(name="$item.propertyName")
		private $item.dataType $item.propertyName;
			
		public $item.dataType get${item.propertyName}(){
			return this.$item.propertyName;
		} 
		public void set${item.propertyName}(${item.dataType} ${item.propertyName}){
			 this.$item.propertyName = $item.propertyName;
		}
	#end

}